In [ ]:
#-------------------- Assignment 1------------------------------------------------------
# examples of collective data types in pythone
# -------------------list------------------------------
# -----------------example 1---------------------------
tralist=["manali","kerela","goa","maldives","Dubai","hong kong","Paris"]
print("Your Travel Destinations are",tralist)
print(" ")
# print from indax value
print("your travel destinations are as under : ")
print(tralist[0])
print(tralist[1])
print(tralist[2])
print(tralist[3])
print(tralist[4])
print(tralist[5])
print(tralist[6])
# Update 
tralist[-3]="Swtzerland"
print("Your Updated Travel Destinatins list are",tralist)

Your Travel Destinations are ['manali', 'kerela', 'goa', 'maldives', 'Dubai', 'hong kong', 'Paris']

your travel destinations are as under :
manali
kerela
goa
maldives
Dubai
hong kong
Paris
Your Updated Travel Destinatins list are ['manali', 'kerela', 'goa', 'maldives', 'Swtzerland', 'hong kong', 'Paris']

In [ ]:
# ----------------list-----------------
# ---------------------------example 2------------------
implist=["Java","C++","C","Python","CSS","Java Script","Ruby"]
print("Important Languages of Prgramming are : ",implist)
print("  ")
# print from indax value 
print("important Programming languages are : ")
print(implist[0])
print(implist[1])
print(implist[2])
print(implist[3])
print(implist[4])
print(implist[5])
print(implist[6])

# Update
implist[4]="HTML"
print("Updated important Programmin languages are:",implist)

Important Languages of Prgramming are :  ['Java', 'C++', 'C', 'Python', 'CSS', 'Java Script', 'Ruby']

important Programming languages are :
Java
C++
C
Python
CSS
Java Script
Ruby
Updated important Programmin languages are: ['Java', 'C++', 'C', 'Python', 'HTML', 'Java Script', 'Ruby']

In [ ]:
# --------------------tuple-----------------------
# ------------example 1--------------

fettuple=("Iphone14 pro MAX","Dynamic iceland","better video quality","longest bettry life","256 GB","Aluminium Glass","Dual camera system")
print(fettuple)
print("  ")
#print from indax value 
print("Features of new IPHONE 14 pro is : ")
print(fettuple[0])
print(fettuple[1])
print(fettuple[2])
print(fettuple[3])
print(fettuple[4])
print(fettuple[5])
print(fettuple[6])

('Iphone14 pro MAX', 'Dynamic iceland', 'better video quality', 'longest bettry life', '256 GB', 'Aluminium Glass', 'Dual camera system')

Features of new IPHONE 14 pro is :
Iphone14 pro MAX
Dynamic iceland
better video quality
longest bettry life
256 GB
Aluminium Glass
Dual camera system

In [ ]:
# -----------------------------tuple-------------
# --------------example 2----------------------

protuple=("HomePod","Iphone","Apple Watch","Ipad","iMac","mac book","apple TV","AirPods")
print(protuple)
print("  ")
#print from indax value 
print("Here is some Apple Products : ")
print(protuple[0])
print(protuple[1])
print(protuple[2])
print(protuple[3])
print(protuple[4])
print(protuple[5])
print(protuple[6])

('HomePod', 'Iphone', 'Apple Watch', 'Ipad', 'iMac', 'mac book', 'apple TV', 'AirPods')

Here is some Apple Products :
HomePod
Iphone
Apple Watch
Ipad
iMac
mac book
apple TV

In [ ]:
#------------------Dictionary---------------------
#-----------------example 1---------------------
indic={"Course":"Python",
       "Fees":"5000",
       "Batch":"January",
       "mode":"Online",
       "class":"live"}
print(indic)

# Update
indic["Course"]="Data Science","Python"
print("The values After Updating are: " ,indic)

{'Course': 'Python', 'Fees': '5000', 'Batch': 'January', 'mode': 'Online', 'class': 'live'}
The values After Updating are:  {'Course': ('Data Science', 'Python'), 'Fees': '5000', 'Batch': 'January', 'mode': 'Online', 'class': 'live'}

In [ ]:
#------------------Dictionary---------------------
#-----------------example 2---------------------
capital_dic={"Gujarat":"Gandhinagar",
       "Nepal":"kathmandu",
       "Maharastra":"Mumbai",
       "Goa":"Panji",
       "Rajasthan":"jaipur"}
print(capital_dic)
print(capital_dic["Goa"])
print(capital_dic["Maharastra"])

{'Gujarat': 'Gandhinagar', 'Nepal': 'kathmandu', 'Maharastra': 'Mumbai', 'Goa': 'Panji', 'Rajasthan': 'jaipur'}
Panji
Mumbai

In [ ]:
# ----------------set-------------------
#--------------------example 1--------------
set1={2,4,6,8,10,12,14,16,18,19}
set2={1,3,5,7,9,11,13,14,15,17,18,19}
print("Union of set is :")
set3=set1.union(set2)
print(set3)
print("Intersection of set is :")
set4=set1.intersection(set2)
print(set4)

Union of set is :
{1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19}
Intersection of set is :
{18, 19, 14}

In [ ]:
#----------------set---------------------
#---------------example 2------------------
task1_set={"Assignment","Homework","work","cleaning","Exerciseing","travelling",True}
place1_set={"home","GYM","Collage","Food Zone",False}
time_set={12.30,5.45,2.30,4.30,6.45,7.15}
print(task1_set)
print(place1_set)
print(time_set)

{'cleaning', True, 'travelling', 'Exerciseing', 'Homework', 'work', 'Assignment'}
{False, 'Collage', 'GYM', 'Food Zone', 'home'}
{2.3, 4.3, 5.45, 6.45, 7.15, 12.3}